<input type="checkbox" id="menuToggle" class="hidden-checkbox">
<label for="menuToggle" class="mobile-menu__trigger"></label>
<nav class="nav-bar">
    <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/mammals">Mammals</a></li>
        <li><a href="/birds">Birds</a></li>
        <li><a href="/reptiles">Reptiles</a></li>
    </ul>
</nav> 