<!--<section class="flex-container">
    <div class="main-content"></div>
    <div class="sidebar"></div>
</section>-->
<ul>
    <% if (locals.animals !== undefined && locals.animals !== null) { %>
        <% locals.animals.forEach(animal => { %>
            <li><h4 class="side-bar-animal <%= animal.name %>"><%= animal.name %></h4></li>
        <% }) %>
    <% } %>
    
</ul>