<section class="flex-container">
    <div class="main-content">
      <div class="message">
        <h1>Reptiles</h1>
        <p>Welcome to the home of reptilesssss</p>
      </div>
    </div>
    <div class="sidebar"></div>
  </section>