.flex-container {
    display: flex;
    flex-grow: 1;
  }
  
.main-content {
    flex: 0 0 80%;
}

.sidebar {
    background-color: #58815770;
    
    flex: 0 0 20%;
/*     padding: 24px; */
}

.message p {
    text-align: center;
    font-weight: 500;
}

/* @media screen and (min-width: 600px) {
    .main-content {
        flex: 0 0 75%;
    }

    .sidebar {
        flex: 0 0 25%;
    }
} */