.sidebar {
    background-color: #58815770;
    flex: 0 0 20%;
}

.sidebar .category {
    padding-left: 20px;
}

.sidebar ul {
    padding-left: 40px;

}
.sidebar h2 {
    font-size: 1.5rem;
}

.sidebar-animal.active {
    font-weight: bold;
}

.message p {
    text-align: center;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .main-content {
        flex: 0 0 75%;
    }

    .sidebar {
        flex: 0 0 25%;
    }
}