.animals {
    margin: 24px;
}

.animals-container {
    background-color: #a3b18a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 16px;
    margin: 16px;
    width: 60%;
}

.animals-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.animals p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.3;
}

.animals p span {
    font-weight: bold;
    margin-right: 5px;
}

@media only screen and (min-width: 768px) {
    
    .animals {
        margin: 40px auto;
        max-width: 800px;
    }

    .animals-container {
        margin: 20px;
        padding: 24px;
    }

    .animals p {
        font-size: 18px;
    }
}